*{
	margin: 0;
}


body{
    height:100vh;
    background-size:cover;
    background-position:center;
}

.full-header{
  width: 100%;
  height: 80px;
  background: white;
  margin: auto;
  padding: 10px;
  }

#main-page-heading{
  /* background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5))  url("./cybersecurity_1.jpg");*/
    height=100px;
    background-size:cover;
    background-position:center;
    float:right;
    margin-top:40px;
    margin-right:40px;
}

#main-page-heading ul li{
    display:inline-block;
}

#main-page-heading ul a{
    text-decoration:none;
    color:black;
    padding:5px 20px;
   /* border:1px solid #fff;*/
    transition:0.6s ease;
}

#main-page-heading ul a:hover{
    background-color:#fff;
    color:#ff8080;
}

#main-page-heading ul li.active a{
    background-color:#fff;
    color:red;
}

#main-page-logo{
    background : url("../images/logo.png") no-repeat;
    background-size:100%;
    margin:10px;
    width:145px;
    height:85px;
    float:left;
}

#footer{
    position:absolute;
    top:95%;
    border:1px solid white;
    width: 100%;
    height: 50px;
    background: white;
    margin: auto;
}
#right-reserved h4{
    float:right;
    margin-right:700px;
}
#privacy{
    float:right;
    margin-right:780px;
}

/* TODO #######   Registration page css :need to configured this css ##############  */

/*
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
.form-signin .form-control:focus {
    z-index: 2;
  }
.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
.registere_header{
    text-align: center;
  }*/
